<app-page-heading [pageTitle]="TITLE" [pageDescription]="DESCRIPTION"></app-page-heading>
<div class="container" style="padding-left: 8em; padding-right: 8em;">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <section id="open-positions">
          <p></p>
        </section>
        <h2 class="section-heading hidden">
          <b>OPEN POSITIONS</b>
        </h2>
        <p class="hidden gap-top gap-bot">We are actively filling the following positions. If you are interested in learning more about
          a position or applying, please fill out this <b><a class="primary-color-a" href="#contact-us">form</a></b>
          expressing your interest, and we will get back to you with more information about applying!</p>
        <h5 class="hidden" style="text-decoration: none"><b>Graphic Designer</b></h5>
        <p class="hidden gap-top gap-bot">As the Graphic Designer, you will be responsible for the creation and curation of designs for
          all promotional content published by Spartan Blockchain Solutions, including posters, digital flyers, event programs,
          web graphics, and promotional items.</p>
        <h5 class="hidden" style="text-decoration: none"><b>Events Coordinator</b></h5>
        <p class="hidden gap-top gap-bot">As the Events Coordinator, you will oversee all aspects of external event planning and
          management. Responsibilities for the Events Coordinator include meeting with clients to work out event
          details, scouting locations, and booking food, entertainment, and staff.</p>
        <h5 class="hidden" style="text-decoration: none"><b>Community Manager</b></h5>
        <p class="hidden gap-top gap-bot">As the Community Manager, you will manage and execute on all aspects of our social media
          marketing initiatives. This includes creating social media posts and engaging with our followers to increase
          overall Spartan Blockchain clickthrough rates and awareness.</p>
        <h5 class="hidden" style="text-decoration: none"><b>Business Analyst</b></h5>
        <p class="hidden gap-top gap-bot">As a Business Analyst, you will use your top-down business knowledge and business development
          experience to play an integral role on one of our Spartan Blockchain Solutions research teams. You will
          participate in weekly meetings with your research group as well as biweekly all-hands meetings with the
          entire Spartan Blockchain Solutions team. You will be responsible for leading the business details of your
          group’s research, including client-engagement and business model development.</p>
        <h5 class="hidden" style="text-decoration: none"><b>Technical Analyst</b></h5>
        <p class="hidden gap-top gap-bot">As a Technical Analyst, you will use your technical knowledge and experience to play an
          integral role on one of our Spartan Blockchain Solutions research teams. You will participate in weekly
          meetings with your research group as well as biweekly all-hands meetings with the entire Spartan Blockchain
          Solutions team. You will be responsible for leading the technical details of your group’s research, including
          technical architecture and potential proof-of-concept development. This may also include engaging with your
          client to understand technical details of their existing systems. An ideal candidate will have a background
          in IT, programming, and/or computer hardware integration.</p>
        <h5 class="hidden" style="text-decoration: none"><b>Legal Analyst</b></h5>
        <p class="hidden gap-top gap-bot">As a Legal Analyst, you will use your legal expertise and experience to play an integral role
          on one of our Spartan Blockchain Solutions research teams. You will participate in weekly meetings with your
          research group as well as biweekly all-hands meetings with the entire Spartan Blockchain Solutions team. You
          will be responsible for providing overarching legal guidance through intensive research of your team’s
          research problem and potential solutions. An ideal candidate will have an interest or background in the study
          of law.</p>
        <section id="become-a-sponsor">
          <hr style="border-color:white">
          <hr class="style-eight">
          <p></p>
        </section>
        <h2 class="section-heading hidden">
          <b>BECOME A SPONSOR</b>
        </h2>
        <p class="hidden gap-top gap-bot">Are you a person, business, or organization interested in becoming a sponsor for Spartan
          Blockchain? If so, please fill out this <b><a class="primary-color-a" href="#contact-us">form</a></b>
          so that we can better understand your interest and provide you with all relevant details about being one of
          our sponsors!</p>

        <section id="join-our-newsletter">
          <hr style="border-color:white">
          <hr class="style-eight">
          <p></p>
        </section>
        <h2 class="section-heading hidden">
          <b>JOIN OUR NEWSLETTER</b>
        </h2>
        <p class="hidden gap-top gap-bot">Are you interested in receiving biweekly updates on Spartan Blockchain's current and future
          initiatives? Joining our email list is the best way to keep up with everything we are doing as an
          organization. To join, simply fill out this <b><a class="primary-color-a" href="#contact-us">form</a></b>
          indicating in the dropdown menu that you would like to join our newsletter. You will be added to our email
          list and begin receiving information about all organizational activities.</p>
        <hr style="border-color:white">
        <hr class="style-eight">

        <section id="contact-us"></section>
      </div>
    </div>
  </div>
  <app-contact-form></app-contact-form>