<app-page-heading [pageTitle]="TITLE" [pageDescription]="DESCRIPTION"></app-page-heading>


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-lg-10 mx-auto">
      <section id="who-are-we">
        <p></p>
      </section>
      <h2 class="section-heading hidden pb-2">
        <b>WHO ARE WE?</b>
      </h2>
      <hr class="hidden" width="15%" style="border-width: 7px">
      <p class="hidden pb-4" style="text-align: justify">
        Spartan Blockchain Solutions (SBS) is a student-run, non-profit blockchain advisory and advocacy
        firm. Our mission is to provide local businesses and organizations with innovative blockchain solutions while
        jumpstarting Michigan State University’s ecosystem to become a leading academic institution in the blockchain
        space. Our analysts develop skills through internal workshops, client engagements, and networking with
        professionals in the blockchain space. We strive to help our student analysts and managers develop unique
        skills that will allow them to pursue
        careers in emerging technologies. The SBS Engagement Team interacts with clients
        to provide value and solve complex business problems by leveraging some of the most cutting-edge software
        platforms in the
        blockchain space.
      </p>
    </div>
  </div>
</div>

<header class="masthead" style="background-image: url('../../../assets/stock/prism.png'); background-color: black">
  <div class="overlay" style="background-image: linear-gradient(to right,rgba(0,0,0,0.25),rgba(75,75,75,0.2),rgba(175,175,175,0.12))"></div>
  <div class="container">

    <h3 class="team-header pb-3 hidden" style="font-size: 28pt">OUR TEAM</h3>
    <hr class="hidden" width="15%" style="border-width: 7px">
    <div id="sbsTeamMembers" class="grid hidden">
      <app-team-member *ngFor="let m of sbsTeamMembers" [fname]="m.fname" [lname]="m.lname"
                      [img]="m.image" [link]="m.link" [position]="m.position"></app-team-member>
    </div>

    <h3 class="team-header pb-3 hidden">BOARD OF DIRECTORS</h3>
    <hr class="hidden" width="15%" style="border-width: 7px">
    <div id="boardOfDirectors" class="grid hidden">
      <app-team-member *ngFor="let m of boardOfDirectors" [fname]="m.fname" [lname]="m.lname"
                       [img]="m.image" [link]="m.link" [position]="m.position"></app-team-member>
    </div>

    <h3 class="team-header pb-3 hidden">PROFESSIONAL ADVISORS</h3>
    <hr class="hidden" width="15%" style="border-width: 7px">
    <div id="professionalAdvisors" class="grid-sm hidden">
      <app-team-member *ngFor="let m of facultyAdvisors" [fname]="m.fname" [lname]="m.lname"
                       [img]="m.image" [link]="m.link" [position]="m.position"></app-team-member>
    </div>

    <h3 class="team-header pb-3 hidden">FACULTY ADVISORS</h3>
    <hr class="hidden" width="15%" style="border-width: 7px">
    <div id="facultyAdvisors" class="grid-sm hidden">
      <app-team-member *ngFor="let m of professionalAdvisors" [fname]="m.fname" [lname]="m.lname"
                       [img]="m.image" [link]="m.link" [position]="m.position"></app-team-member>
    </div>
  </div>
</header>


<header class="masthead" style="background-color: white">
  <div class="container">
    <h3 class="team-header pb-3 pt-5 hidden" style="color: black">OUR PARTNERS</h3>
    <hr class="hidden" width="15%" style="border-width: 7px">
    <div class="mt-4 hidden">
     <img class="img-padding" style="width: 500px;" src="../../../assets/images/logos/consensys.png" />
     <img class="img-padding" style="width: 500px;" src="../../../assets/images/logos/msu-hatch.png" />
     <img class="img-padding" style="width: 333px;" src="../../../assets/images/logos/undergrad-entrepreneurship.jpg" />
     <img class="img-padding" style="width: 333px;" src="../../../assets/images/logos/blockchain-at-michigan.png" />
     <img class="img-padding" style="width: 333px;" src="../../../assets/images/logos/blockchain-education-network.png" />
    </div>
  </div>
</header>


<hr>

