<app-page-heading [pageTitle]="TITLE" [pageDescription]="DESCRIPTION"></app-page-heading>
<!-- Main Content -->
<header class="masthead" style="background-image: linear-gradient(to right,white,white,rgb(236, 236, 236))">
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-12 col-lg-10 mx-auto">
                <section id="what-is-blockchain">
                    <p></p>
                </section>
                <h3 class="team-header pb-3 pt-3 hidden" style="color: black">WHAT IS BLOCKCHAIN?</h3>
                <hr class="hidden emphasis">
                <p class="hidden pt-3 pb-5" style="text-align: center">
                    <iframe width="730" height="400" src="https://www.youtube.com/embed/SSo_EIwHSd4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
                <hr>
                <h3 class="section-heading hidden">
                    BLOCKCHAIN:
                </h3>
                <p class="hidden" style="text-align: center">(<i>noun</i>)</p>
                <p class="hidden">A digitized, decentralized ledger of transactions. A blockchain is constantly growing as ‘completed’ blocks (the most recent transactions) are recorded and added to it in chronological order. It allows market participants to keep track
                    of transactions without centralized record-keeping strategies. Each node (a computer connected to the network) gets a copy of the blockchain, which is continually downloaded automatically.
                </p>

                <h3 class="section-heading hidden">
                    CRYPTOCURRENCY:
                </h3>
                <p class="hidden" style="text-align: center">(<i>noun</i>)</p>
                <p class="hidden">Any form of currency that only exists digitally, that usually has no central issuing or regulating authority but instead uses a decentralized blockchain-based system to record transactions and manage the issuance of new units. Relies on
                    cryptography to prevent counterfeiting and fraudulent transactions. The first real-world application of blockchain technology was Bitcoin.</p>
            </div>
        </div>
        <hr>
        <div class="row pb-5">
            <div class="col-lg-12 col-lg-10 mx-auto">
                <section id="our-workshops">
                </section>
                <h3 class="section-heading pb-3 pt-3 hidden">OUR WORKSHOPS</h3>
                <hr class="hidden emphasis">
                <p class="hidden">If you are interested in attending any one of the following workshops, please check our <a class="hyperlink" href="events.html">events</a> page to see our upcoming workshop dates and locations.</p>
                <h5 class="hidden">Blockchain Essentials Workshop</h5>
                <p class="hidden">Our Blockchain Essentials Workshop is designed for people of all backgrounds. This two-hour workshop gives a crash-course on everything related to blockchain and cryptocurrencies, from the genesis of Bitcoin to the innovations happening
                    in the blockchain space right now.</p>
                <h5 class="hidden">Hyperledger Composer Development Workshop</h5>
                <p class="hidden">If you are interested in learning how to develop blockchain applications and business networks, consider attending one of our Hyperledger Composer Development Workshops. <a class="hyperlink" href="https://hyperledger.github.io/composer/v0.19/introduction/introduction">Hyperledger
              Composer</a> is a set of tools developed by the Linux Foundation in collaboration with IBM for building business blockchain networks, allowing business owners and developers to solve business problems simply and efficiently.
                </p>
                <h5 class="hidden">IBM Blockchain Essentials Online Course</h5>
                <p class="hidden">This 3-hour online course developed by IBM will help you understand blockchain technology and how it can solve business problems. You will also learn the basics of developing applications with chaincode. Use this
                    <a class="hyperlink" href="https://cognitiveclass.ai/courses/blockchain-course/">link</a> to access the course.
                </p>
                <h5 class="hidden">IBM Blockchain Foundation Developer Online Course</h5>
                <p class="hidden">In this 6-hour online course, you'll get a more detailed picture of the components and structures of blockchain business networks, such as ledgers, smart contracts, consensus, certificate authorities, security, roles, transaction processes,
                    participants, and fabrics. This course is for developers who understand object-oriented programming and can use the command line. It is highly recommended that you complete the IBM Blockchain Essentials Online Course before tackling
                    this course. Use this <a class="hyperlink" href="https://cognitiveclass.ai/courses/ibm-blockchain-foundation-dev/">link</a> to access the course.</p>
            </div>
        </div>
    </div>
</header>